{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "Firefox ESR",
                        "> 1%",
                        "ie >= 9",
                        "iOS >= 8",
                        "Android >= 4"
                    ]
                },
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        [
            "import", 
            {
                "libraryName": "vant",
                "libraryDirectory": "es",
                "style": true
            }, 
            "vant"
        ]
        // [
        //     "component",
        //     {
        //         "libraryName": "mint-ui",
        //         "style": true
        //     }
        // ]
    ]
}